<%- include('partials/header.ejs') %>
    <div class="container">
        <br>
    
    <!-- Greeting -->
    <!-- Title -->
    <!-- <h1>RememberMe</h1> -->
    
    <% if(user){ %>
        <h2 class="display-2 text-center">Welcome back, <%= user.name %></h2>
    <% } %>

    <!-- list -->

    <h2 class="text-center">Users Submissions</h2>
    <br>
    <div class="mb-5">
        <ul class="list-group list-group-flush">
            <div class="row">
                <% list.forEach( item => { %>
                    <li class="list-group-item col-5 border border-dark ml-auto mr-auto mb-3"> 
                        <!-- <p><%= item %> </p> -->
                        <p>Username: <%= item.username %> </p>
                        <p>Bio: <%= item.bio %> </p>
                        <p>Name: <%= item.name %></p>
                        <p>Note: <%= item.note %></p>
                    </li>
                <% }); %>  
            </div>
        </ul>
    </div>
</div>
<%- include('partials/footer.ejs') %>
