<%- include('partials/header.ejs') %>

    <div class="container mt-5">
    <h2 class="display-4 mb-3">Profile - My name is <u><%=user.name%></u>!</h2>

    <!-- Page for displaying user dynamic remembered information -->

    <div class="card mb-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: <%=user%></li>
            <li class="list-group-item">Bio: <%=user.bio%></li>
            <li class="list-group-item">Phone: <%=user.phone%></li>
        </ul>
    </div>
    <h1>
        Make Changes to Profile Below
    </h1>
    <form action="/profile" method="POST">
        <!-- <label for="">Update Bio: </label> -->
        <div class="form-group ">
            <div class="input-group">            
            <select class="custom-select form-control" name="updateSelector" id="">
                <option value="bio">Bio</option>
                <option value="phone">Phone</option>
                <option value="name">Name</option>
            </select>
            <input class="form-control" type="text" name="traitUpdater" id="" placeholder="Enter value or leave blank to clear saved data">
        </div>
        </div>
        <button class="btn btn-dark btn-block" type="submit" name="biobutton">Update</button>

        <!--How to signal which profile data to update by choosing a button or another form of submission
        Maybe use a dropdown menu to select one profile data option, and have that name dynamically sorted out
        in Javascript. I think that is easiest.

        A <select> tag used in a form.

        Do I manage this by inserting an array into the mongo schema?

        And separate profile data array from profile settings array/account personalization settings
        -->
    </form>
    <h1>
        ID: <%=user._id%>
    </h1>
    <h2>Email: <%=user.username%></h2>

    </div> <!-- End of container div -->
<%- include('partials/footer.ejs') %>
